body{
    min-height: 100vh;
    display:grid;
    grid-template:
    "header header header"150px
    "...... ...... ......"32px
    "...... main   ......"auto
    "...... ...... ......"32px
    "footer footer footer"50px
    /20px   auto   20px;
}
@media(min-width: 840px){
    body{
        grid-template:
    "header header header"150px
    "...... ...... ......"64px
    "...... main   ......"auto
    "...... ...... ......"64px
    "footer footer footer"50px
    /auto   800px  auto;
    }
}
header {
    grid-area: header;
    background-color:aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 3em;
    color:#ffffff;
}
header a {
    color: #ffffff;
   text-decoration: none; 
}
main {
    grid-area: main;
}

footer {
    grid-area: footer;
    background-color: dimgrey;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}
h1{
    border-bottom: 2px solid #0421f9db;
}
h2{
    margin-top: 15px;
    border-bottom: 2px solid#0421f9db;
}
p{
    margin-top: 16px;
}
.youtube{
    max-width: 100%;
    aspect-ratio: 560/315;
}
.youtube iframe{
    width: 100%;
    height: 100%;
}
.important{
    background-color: yellow;
}
.card-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card{
    text-decoration: none;
    color: #000000;
    font-weight:bold;
    margin-top: 32px;
    width: 45%;
}
@media(max-width:480px){
    .card{
        width: 100%;
    }
}
.card img{
    width: 100%;
    border-radius: 5px;
}